REM Make sure you are in the right conda environment
REM conda activate cognitive-services

SET AZURE_FORM_RECOGNIZER_ENDPOINT={add your endpoint, like https://xxx.cognitiveservices.azure.com/}
SET AZURE_FORM_RECOGNIZER_KEY={add your key}

SET AZURE_LANGUAGE_ENDPOINT={add your endpoint, like https://xxx.api.cognitive.microsoft.com/)
SET AZURE_LANGUAGE_KEY={add your key}

python .\scripts\analyze_general_documents.py
@REM python .\scripts\analyze_invoices.py
@REM python .\scripts\lang_summarize_text.py
@REM python .\scripts\convert_pdf_to_images.py
